<ion-header class="main-header">
    <ion-toolbar>
      <div class="main-custom-style">
        <ion-buttons slot="start"> 
        <a>
        <img class="logo-1stpart minilogo"  src="assets/images/favicon.png" alt="logo">
        </a>
        </ion-buttons>
      <div class="custom-style">
        <ion-searchbar slot="end" debounce="500"></ion-searchbar>
        <div class="d-flex">
          <ion-buttons slot="end" class="notification-panel header-btn">
            <button mat-button [matMenuTriggerFor]="notification">
              <mat-icon matBadge="8" matBadgePosition="after"   >notifications_none</mat-icon>
            </button>
            <mat-menu #notification="matMenu" xPosition="before" backdropClass="matMenuDropdown">
              <div class="notification-box">
                <div class="notification-list">
                  <p class="tittle">Notification</p>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading success">
                        <mat-icon>local_mall</mat-icon>
                        <span>Your order ready for Ship..! </span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading danger">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Deleted Succesfully</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading warning">
                        <mat-icon>file_download</mat-icon>
                        <span>Downloading....</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading info">
                        <mat-icon>error_outline</mat-icon>
                        <span>250 MB trash files</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </mat-menu>
          </ion-buttons>
          <ion-buttons slot="end">
            <div class="profile-box">
              <button mat-button [matMenuTriggerFor]="profile">
                <ion-item>
                  <ion-avatar slot="start">
                   <img [src]="profileImage!= null ? profileImage : 'assets/images/noimage.jpg'" alt="" class="">
          
                  </ion-avatar>
                  <ion-label>
                    <h2 class="userName text-capitalize" *ngIf="role == 'DESIGNER'">{{userData?.designerProfile?.firstName1}}</h2>
                    <h2 class="userName text-capitalize" *ngIf="role !== 'DESIGNER'">{{userData?.firstName}}</h2>
                    <h3 *ngIf="role !== 'DESIGNER'" class="userRole">{{userData?.roleName}}</h3>
                    <h3 *ngIf="role == 'DESIGNER'" class="userRole">Designer</h3>
                  </ion-label>
                </ion-item>
              </button>
              <mat-menu #profile="matMenu" xPosition="before" backdropClass="matMenuDropdown">
                <ul class="dropdown-box">
                  <li class="box-item profile-option">
                    <ul>
                      <li class="option-header">
                        <p>Profile options</p>
                      </li>
                      <li><ion-label (click)="goToPage('profile');">Profile</ion-label></li>
                      <li><ion-label (click)="openChangePasswordmodal('changepassword_modal', '', '');">Change Password</ion-label></li>
                      <li><ion-label (click)="logout();">Logout</ion-label></li>
                    </ul>
                  </li>
                </ul>
              </mat-menu>
            </div>
          </ion-buttons>
        </div>
      </div>
      
      </div>
      
    </ion-toolbar>
    <ion-toolbar *ngIf="false">
        <ion-buttons slot="start"> 
        <a >
        <img class="logo-1stpart minilogo"  src="assets/images/favicon.png" alt="logo">
        </a>
        </ion-buttons>
     <ion-searchbar slot="end" debounce="500"></ion-searchbar>
        <!-- <ion-buttons slot="end" class="search-panel header-btn" [ngClass]="{ 'active': showSearch == true}">
          <input class="search-box" type="search">
          <button mat-button (click)="showSearchBox(showSearch)">
            <mat-icon *ngIf="!showSearch">search</mat-icon>
            <mat-icon *ngIf="showSearch">close</mat-icon>
          </button>
        </ion-buttons> -->
        <ion-buttons slot="end" class="notification-panel header-btn">
            <button mat-button [matMenuTriggerFor]="notification">
              <mat-icon matBadge="8" matBadgePosition="after"   >notifications_none</mat-icon>
            </button>
            <mat-menu #notification="matMenu" xPosition="before" backdropClass="matMenuDropdown">
              <div class="notification-box">
                <div class="notification-list">
                  <p class="tittle">Notification</p>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading success">
                        <mat-icon>local_mall</mat-icon>
                        <span>Your order ready for Ship..! </span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading danger">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Deleted Succesfully</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading warning">
                        <mat-icon>file_download</mat-icon>
                        <span>Downloading....</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  <div class="notification-item">
                    <div class="notification-item-content">
                      <p class="notification-heading info">
                        <mat-icon>error_outline</mat-icon>
                        <span>250 MB trash files</span>
                      </p>
                      <p class="notification-content">
                        The World Wide Web goes live with its first web page. 
                        The World Wide Web goes live with its first web page. 
                      </p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </mat-menu>
          </ion-buttons>
          <ion-buttons slot="end">
            <div class="profile-box">
              <button mat-button [matMenuTriggerFor]="profile">
                <ion-item>
                  <ion-avatar slot="start">
                    <!-- <img src="assets/images/noimage.jpg"> -->
                    <img [src]="profileImage!= null ? profileImage : 'assets/images/noimage.jpg'" alt="" class="">
          
                  </ion-avatar>
                  <ion-label>
                    <h2 class="userName text-capitalize" *ngIf="role == 'DESIGNER'">{{userData?.designerProfile?.firstName1}}</h2>
                    <h2 class="userName text-capitalize" *ngIf="role !== 'DESIGNER'">{{userData?.firstName}}</h2>
                    <h3 *ngIf="role !== 'DESIGNER'" class="userRole">{{userData?.roleName}}</h3>
                    <h3 *ngIf="role == 'DESIGNER'" class="userRole">Designer</h3>
                  </ion-label>
                </ion-item>
              </button>
              <mat-menu #profile="matMenu" xPosition="before" backdropClass="matMenuDropdown">
                <ul class="dropdown-box">
                  <li class="box-item profile-option">
                    <ul>
                      <li class="option-header">
                        <p>Profile options</p>
                      </li>
                      <li><ion-label (click)="goToPage('profile');">Profile</ion-label></li>
                      <!-- <li><ion-label (click)="goToPage('profile');">Active tasks</ion-label></li> -->
                      <li><ion-label (click)="openChangePasswordmodal('changepassword_modal', '', '');">Change Password</ion-label></li>
                      <li><ion-label (click)="logout();">Logout</ion-label></li>
                    </ul>
                  </li>
                  <!-- <li class="box-item">
                      <div class="revenue-box">
                        <div class="revenue-icon">
                          <ion-icon name="bar-chart-outline"></ion-icon>
                        </div>
                        <div class="revenue-content">
                          <b>$9,693</b>
                          <span>revenue</span>
                        </div>
                      </div>
                  </li>
                  <li class="box-item">
                    <div class="social-icons">
                      <button class="facebook" mat-button>
                        <ion-icon name="logo-facebook"></ion-icon>
                      </button>
                      <button class="dribbble" mat-button>
                        <ion-icon name="logo-dribbble"></ion-icon>
                      </button>
                      <button class="twitter" mat-button>
                        <ion-icon name="logo-twitter"></ion-icon>
                      </button>
                    </div>
                  </li> -->
                </ul>
              </mat-menu>
            </div>
          </ion-buttons>
      
    </ion-toolbar>
  </ion-header>