<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-header-left">
                        <h3>Employee Management
                            <small>Divatt Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-right">
                      <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">
                              <mat-icon>home</mat-icon>
                          </a></li>
                      <li class="breadcrumb-item" >
                        Employee Management
                      </li>
                      <li class="breadcrumb-item active">
                        {{parms_action_name}} Employee
                      </li>
                  </ol>
              </div>
            </div>
        </div>
    </div>
    <div class="form-layout">
      <div class="form-wrapper">
        <div class="card card-box">
          <div class="card-header">
            <div class="card-header-tittle">
              {{parms_action_name}} Employee
            </div>
          </div>
          <form action="" #addForm="ngForm" (ngSubmit)="onSubmitForm(addForm)">
            <div class="card-body">
              <!-- Hidden data -->
              <input *ngIf="parms_action_name =='edit'" type="hidden" name="uid" [(ngModel)]="model.uid">
              <input *ngIf="parms_action_name =='edit'" type="hidden" name="password" [(ngModel)]="model.password">
              <ion-grid>
                <ion-row>
                  <!-- First name -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput  name="firstName" [(ngModel)] = "model.firstName" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Last name -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput  name="lastName" [(ngModel)] = "model.lastName" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Date of birth -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
                    <div class="form-item">
                      <mat-form-field appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input (change)="changeDateFormat('dateOfBirth', model.chkdob)" matInput placeholder="Date of Birth" type="date" name="chkdob" [(ngModel)]="model.chkdob" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Hidden -->
                  <input type="hidden" name="dob" [(ngModel)]="model.dob" required>
                  <!-- Mobile Number -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput min="1" type="number"  pattern="^((\\+91-?)|0)?[0-9]{10}$"  onKeyPress="if(this.value.length==10) {return false;}" maxlength="10" name="mobileNo" [(ngModel)]="model.mobileNo" required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Email -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" [(ngModel)]="model.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" email required>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Password -->
                  <ion-col size-xs="12" size-sm="12" size-md="4"  size-lg="4" *ngIf="parms_action_name =='add'">
                    <div class="form-group">
                      <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hideset ? 'password' : 'text'" name="password" [(ngModel)]="model.password" required>
                        <button mat-icon-button matSuffix (click)="hideset = !hideset" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideset">
                          <mat-icon>{{hideset ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </ion-col>
                  <!-- Role -->
                  <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                    <div class="form-item ngsel">
                      <ng-select [items]="roleList" 
                              bindLabel="roleName" 
                              name="role"
                              placeholder="Select Role"
                              bindValue="roleKey" 
                              [(ngModel)]="model.role"
                              (change)="ngsel(model.role)"
                              required>
                      </ng-select>
                      <label>Role <sup>*</sup> </label>
                    </div>
                  </ion-col>
                  <!-- Hidden -->
                  <input type="hidden" name="roleName" [(ngModel)]="model.role">
                  <!-- Profile Picture -->
                  <ion-col size-xs="12" size-sm="6" size-md="4"  size-lg="4">
                    <div class="form-item">
                      <div class="custom-file">
                        <input class="custom-file-input" id="singleFileUpload" type="file" name="imageUrl" accept="image/*" (change)="handleInputChange($event)">
                        <label class="custom-file-label" for="singleFileUpload">Choose file</label>
                        <img [src]="imageSrc"/>
                      </div>
                    </div>
                  </ion-col>
                  <!-- Hidden -->
                  <input type="hidden" name="profilePic" [(ngModel)]="model.profilePic">
                </ion-row>
              </ion-grid>
            </div>
    
            <div class="card-footer">
              <div></div>
              <div>
                <ion-button class="custom-btn" type="submit" [disabled]="!addForm.valid">
                  <ion-spinner *ngIf="formLoading" slot="start" name="crescent"></ion-spinner>
                  Save
                </ion-button>
                <ion-button color="danger" [routerLink]="['/', 'employee-list']" >
                  Cancel
                </ion-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
