<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="form-layout">
        <div class="form-wrapper">
          <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="page-header-left">
                            <h3>Color
                                <!-- <small>Divatt Admin panel</small> -->
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-right">
                          <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">
                                  <mat-icon>home</mat-icon>
                              </a></li>
                          <li class="breadcrumb-item active">
                            {{action}} Color
                          </li>
                      </ol>
                  </div>
                </div>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="loader"><mat-spinner class="form-get-loader"></mat-spinner></div>
          <div class="card card-box" *ngIf="!loader">
            <div class="card-header">
                <div class="card-header-tittle">
                  {{parms_action_name}} Color
                </div>
                
            </div>
            <form action="" #color="ngForm" (ngSubmit)="onSubmitColorForm(color)">
              <div class="card-body">
                <div class="col-md-6 m-auto">
                    <ion-grid>
                      <ion-row>
                        <!-- Name -->
                        <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Color Name</mat-label>
                              <input matInput  name="colorName" [(ngModel)] = "model.colorName" required>
                            </mat-form-field>
                          </div>
                        </ion-col>       
                        
                        <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                          <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Color Value</mat-label>
                              <input matInput type="text"  name="colorValue" [(ngModel)] = "model.colorValueCreate" readonly required>
                            </mat-form-field>
                          </div>
                        </ion-col> 
                        <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                          <p>Select Color Value:</p>
                          <input type="color" name="value" [(ngModel)] = "model.colorValueCreate">
                        </ion-col>
                        <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                          <div class="form-group">
                            <div class="toggle-button w-fit">
                              <ion-label class="h2 mb-0 mr-1">Is active : </ion-label>
                              <ion-label>
                                  <p class="onoff"><input type="checkbox" value="true" id="isActive" name="isActive" [(ngModel)]="model.isActive"><label for="isActive"></label></p>
                              </ion-label>
                            </div>
                          </div>
                        </ion-col>    
                      </ion-row>
                    </ion-grid>
                </div>
              </div>
              <div class="card-footer">
                <div></div>
                <div>
                  <ion-button class="custom-btn" type="submit"  [disabled]="!color.valid || btnloader">
                    <ion-spinner *ngIf="btnloader" slot="start" name="crescent"></ion-spinner>
                    Save
                  </ion-button>
                  <ion-button color="danger" [routerLink]="['/', 'color-list']">
                    Cancel
                  </ion-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
