<ion-content>
  <div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
              <div class="col-md-5 p-0 card-left">
                <div class="card bg-primary">
                    <div class="svg-icon">
                        <img src="assets/images/t.png" width="100%">
                    </div>
                    <div class="single-item">
                       <ion-slides #slider pager="true" [options]="slideOpts">
                          <ion-slide *ngFor="let data of owlcarousel">
                            <div class="slide">
                              <h3>{{data.title}}</h3>
                              <p>
                                {{data.desc}}
                              </p>
                            </div>
                          </ion-slide>
                        </ion-slides>
                    </div>
                </div>
            </div>
                <div class="col-md-7 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body">
                          <mat-tab-group>
                            <mat-tab> 
                              <ng-template mat-tab-label>
                                <mat-icon>person_outline</mat-icon>
                                <span>Forget Password</span>
                              </ng-template>
                              <form #forgetpsw="ngForm" (ngSubmit)="onsubmitForgetform(forgetpsw)">
                                
                                <div class="form-group mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput [(ngModel)]="model.username" pattern="^[a-z0-9._%+-]+@[a-z.-]+\.[a-z]{2,4}$" name="username" [ngClass]="{'disabled' : btnloader}" required>
                                  </mat-form-field>
                                </div>
                                <p class="error">{{message}}</p>
                                <p class="success">{{message2}}</p>
                                <div class="form-button d-flex justify-content-between align-items-center mt-2">
                                  <!-- <button class="btn btn-primary text-uppercase" [disabled]="!forgetpsw.valid" type="submit" [ngClass]="{'disabled' : btnloader}"><i class="fa fa-spinner fa-spin" *ngIf="btnloader"></i> Send Mail</button> -->
                                  <!-- <button class="btn btn-primary text-uppercase" [ngClass]="{'disabled' : btnloader}" type="submit"  [disabled]="!forgetpsw.valid">
                                    <ion-spinner class="btnloader" name="crescent" *ngIf="btnloader"></ion-spinner>
                                    Send Mail
                                  </button> -->
                                  <ion-button  class="bg-primary-color"   [ngClass]="{'disabled' : btnloader}" type="submit"  [disabled]="!forgetpsw.valid">
                                    <ion-spinner class="btnloader" name="crescent" *ngIf="btnloader"></ion-spinner>
                                    Send Mail
                                  </ion-button>
                                  <a [routerLink]="'../'" class="btn btn-default forgot-pass "> Login Now</a>
                              </div>
                              </form>
                            </mat-tab>
                          </mat-tab-group>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
