<ion-content>
  <div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
              <div class="col-md-5 p-0 card-left">
                <div class="card bg-primary">
                    <div class="svg-icon">
                        <img src="assets/images/t.png" width="100%">
                    </div>
                    <div class="single-item">
                       <ion-slides #slider pager="true" [options]="slideOpts">
                          <ion-slide *ngFor="let data of owlcarousel">
                            <div class="slide">
                              <h3>{{data.title}}</h3>
                              <p>
                                {{data.desc}}
                              </p>
                            </div>
                          </ion-slide>
                        </ion-slides>
                    </div>
                </div>
            </div>
                <div class="col-md-7 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body">
                          <mat-tab-group>
                            <mat-tab> 
                              <ng-template mat-tab-label>
                                <mat-icon>person_outline</mat-icon>
                                <span>Reset Password</span>
                              </ng-template>
                              <form #resetpsw="ngForm" (ngSubmit)="onsubmitResetform(resetpsw)">
                                <!-- <div class="form-group">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Enter Code</mat-label>
                                    <input matInput type="text" name="code"
                                      [(ngModel)]="code" />
                                  </mat-form-field>
                                </div> -->
                                <div class="form-group">
                                  <mat-form-field appearance="outline">
                                    <mat-label>New Password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" name="newPass"
                                      [(ngModel)]="model.newPass" required   (keyup)="passwordvalid(model.newPass,model.conformpassword)"/>
                                    <a mat-icon-button matSuffix (click)="hide = !hide"
                                      [ngClass]="{'disabled' : btnloader}" [attr.aria-label]="'Hide password'"
                                      [attr.aria-pressed]="hide">
                                      <mat-icon class="text-black">{{hide ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                    </a>
                                  </mat-form-field>
                                </div>
                                <div class="form-group p-0">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Conform Password</mat-label>
                                    <input matInput [type]="hide2 ? 'password' : 'text'" name="conformpassword"
                                      [(ngModel)]="model.conformpassword" required   (keyup)="passwordvalid(model.newPass,model.conformpassword)"/>
                                    <a mat-icon-button matSuffix (click)="hide2 = !hide2"
                                      [ngClass]="{'disabled' : btnloader}" [attr.aria-label]="'Hide password'"
                                      [attr.aria-pressed]="hide">
                                      <mat-icon class="text-black">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </a>
                                  </mat-form-field>
                                </div>
                                <p class="text-danger text-center">{{errormsg}}</p>
                                <div class="form-button d-flex justify-content-between align-items-center mt-2">
                                  <!-- <button class="btn btn-primary text-uppercase" [disabled]="!resetpsw.valid" type="submit" [ngClass]="{'disabled' : btnloader}"><i class="fa fa-spinner fa-spin" *ngIf="btnloader"></i> Reset Password</button> -->
                                  <!-- <button class="btn btn-primary text-uppercase" [ngClass]="{'disabled' : errormsg}" type="submit"  [disabled]="!resetpsw.valid">
                                    <ion-spinner class="btnloader" name="crescent" *ngIf="btnloader"></ion-spinner>
                                    
                                  </button> -->
                                  <ion-button  class="bg-primary-color"   [ngClass]="{'disabled' : errormsg}" type="submit"  [disabled]="!resetpsw.valid">
                                    <ion-spinner class="btnloader" name="crescent" *ngIf="btnloader"></ion-spinner>
                                      Reset Password
                                  </ion-button>
                                  <a [routerLink]="'/auth'" class="btn btn-default forgot-pass "> Login Now</a>
                              </div>
                              </form>
                            </mat-tab>
                          </mat-tab-group>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
