<!-- common header show -->
<common-header></common-header>

<ion-content>
  <div class="page-body">
    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-header-left">
                        <h3>Sub category
                            <!-- <small>Divatt Admin panel</small> -->
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-right">
                      <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">
                              <mat-icon>home</mat-icon>
                          </a></li>
                      <li class="breadcrumb-item" >
                        Category
                      </li>
                      <li class="breadcrumb-item active">
                        {{parms_action_name}} Sub category
                      </li>
                  </ol>
              </div>
            </div>
        </div>
    </div>
    <div class="form-layout">
      <div class="form-wrapper">
        <div class="row justify-content-center" *ngIf="loader"><mat-spinner class="form-get-loader"></mat-spinner></div>

        <div class="card card-box" *ngIf="!loader">
          <div class="card-header">
              <div class="card-header-tittle">
                {{parms_action_name}} Sub category
              </div>
              
          </div>
          <form #subcategory="ngForm" (ngSubmit)="onSubmitsubCategoryForm(subcategory)">
            <div class="card-body">
              <div class="col-md-6 m-auto">  
                <ion-grid>
                  <ion-row>
                    <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                      <div class="form-item ngsel">
                        <ng-select [items]="categoryslist" 
                                bindLabel="categoryName" 
                                name="parentId"
                                placeholder="Select Category"
                                bindValue="id" 
                                [(ngModel)]="model.parentId"
                                (change)="ngsel(model.parentId)"
                                required>
                        </ng-select>
                        <label>Select Category </label>
                      </div>
                    </ion-col>
                    <!-- Name -->
                    <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Sub category Name</mat-label>
                          <input matInput  name="categoryName" [(ngModel)] = "model.categoryName" required>
                        </mat-form-field>
                      </div>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Sub category Desciption</mat-label>
                          <textarea matInput  name="categoryDescription" [(ngModel)] = "model.categoryDescription" required></textarea>
                        </mat-form-field>
                      </div>
                    </ion-col>
                    
                    <ion-col size-xs="12" size-sm="12" size-md="12"  size-lg="12">
                     <div class="form-item">
                        <div class="custom-file">
                          <input class="custom-file-input" id="singleFileUpload" type="file" name="imageUrl" accept="image/*" (change)="handleInputChange($event)">
                          <label class="custom-file-label" for="singleFileUpload">Choose file</label>
                          <img [src]="previewimageSrc"/>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
            <div class="card-footer">
              <div></div>
              <div>
                
                <ion-button class="custom-btn" [ngClass]="{'disabled' : btnloader}" type="submit"  [disabled]="!subcategory.valid">
                  <ion-spinner *ngIf="btnloader" slot="start" name="crescent"></ion-spinner>
                  Save
                </ion-button>
                <ion-button color="danger" [routerLink]="['/', 'subcategory-list']">
                  Cancel
                </ion-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</ion-content>

<!-- common footer show -->
<common-footer></common-footer>
